<%= _.template(require('./../includes/header.html'))(data) %>

<main>
    <div id="services" class="services-block">

        <div class="center-block">
            <h2>Best servises in Andreeva Pearl smile</h2>

            <div class="item">
                <div class="img">
                    <img src="img/svg/001-smile.svg" alt="">
                </div>
                <p>Perfect smile</p>
            </div>
            <div class="item">
                <div class="img">
                    <img src="img/svg/003-happy.svg" alt="">
                </div>
                <p>Without pain</p>
            </div>
            <div class="item">
                <div class="img">
                    <img src="img/svg/002-number-1.svg" alt="">
                </div>
                <p>Number one dental spa in Ukraine</p>
            </div>

        </div>
    </div>
    <div class="all-width">
        <div id="our_work" class="center-block patient-slider">
            <ul class="list-category-works">
                <li current-block="cleaning" class="work-item work-item-active">Cleaning</li>
                <li current-block="veneers" class="work-item">Veneers</li>
                <li current-block="restorations" class="work-item">Restorations</li>
                <li current-block="lips" class="work-item">Lips</li>
            </ul>
            <div class="cleaning d-none active">
                <div class="swiper-patient-slider swiper-cleaning">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img class="lazy" data-src="img/slider/cleaning/1.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img class="lazy" data-src="img/slider/cleaning/2.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img class="lazy" data-src="img/slider/cleaning/3.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img class="lazy" data-src="img/slider/cleaning/4.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img class="lazy" data-src="img/slider/cleaning/5.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img class="lazy" data-src="img/slider/cleaning/6.jpg" alt="">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="veneers d-none ">
                <div class="swiper-patient-slider swiper-veneers">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="img/slider/veneers/1.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/slider/veneers/2.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/slider/veneers/3.JPG" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/slider/veneers/4.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/slider/veneers/5.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/slider/veneers/6.png" alt="">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="restorations d-none ">
                <div class="swiper-patient-slider swiper-restorations">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img class="lazy" data-src="img/slider/restoration/1.JPG" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img class="lazy" data-src="img/slider/restoration/2.JPG" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img class="lazy" data-src="img/slider/restoration/3.JPG" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img class="lazy" data-src="img/slider/restoration/4.JPG" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img class="lazy" data-src="img/slider/restoration/5.JPG" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img class="lazy" data-src="img/slider/restoration/6.JPG" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img class="lazy" data-src="img/slider/restoration/7.JPG" alt="">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="lips d-none ">
                <div class="swiper-patient-slider swiper-lips">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img class="lazy" data-src="img/slider/lips/1.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img class="lazy" data-src="img/slider/lips/2.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img class="lazy" data-src="img/slider/lips/3.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img class="lazy" data-src="img/slider/lips/4.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img class="lazy" data-src="img/slider/lips/5.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img class="lazy" data-src="img/slider/lips/6.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img class="lazy" data-src="img/slider/lips/7.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img class="lazy" data-src="img/slider/lips/8.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img class="lazy" data-src="img/slider/lips/9.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img class="lazy" data-src="img/slider/lips/10.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img class="lazy" data-src="img/slider/lips/11.png" alt="">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="about-us" class="center-block doctor">
        <h2>Who makes your smiles</h2>
        <div class="doctor-container">
            <div class="doctor-body">
                <div class="doctor-item">
                    <img class="lazy" data-src="img/doc2.png" alt="">
                </div>
                <div class="deckription">
                    <h4 class="name">Evgeniya Andreeva</h4>
                    <p>Graduated from national medical university in 2012. And got doctorate degree in 2014. Since that time she is into practice</p>
                    <p>She is a restorative Dentist .Depending on the level of enamel loss , there are different treatments to restore the teeth function. In some cases dental bonding can be used to cover sensitive teeth, improve the color and fill the cavities.</p>
                </div>
            </div>
            <div class="doctor-body">
                <div class="doctor-item">
                    <img class="lazy" data-src="img/doc-1.png" alt="">
                </div>
                <div class="deckription">
                    <h4 class="name">Katerina Marynenko</h4>
                    <p>Graduated from national medical university in 2011. And got doctorate degree in 2013. Since that time she is into practice</p>
                    <p>She is a doctor and cosmetologist and work with lip injections with hyaluronic acids and  also muscles filing with botulinum toxin for anti age effect.</p>
                </div>
            </div>
            <div class="doctor-body">
                <div class="doctor-item">
                    <img class="lazy" data-src="img/doc3.png" alt="">
                </div>
                <div class="deckription">
                    <h4 class="name">Maria Goriaeva</h4>
                    <p>Graduated from national medical university in 2012. And got doctorate degree in 2014. Since that time she is into practice</p>
                    <p>She helps individuals with crooked teeth, malocclusion, its prevention, bite treatment for chewing and smile options improvement. She uses different apparatus, braces and other appliances.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="all-width">
        <div id="prices" class="center-block price">
            <h2>Our prices</h2>
            <div class="block-with-price">
                <ul class="price-list">
                    <li class="price-item">
                        <span class="price-name">Teeth cleaning</span>
                        <span class="cost">100$</span>
                    </li>
                    <li class="price-item">
                        <span class="price-name">Teeth bleach (Pearl Smile) <span class="note">(21 min)</span> </span>
                        <span class="cost">100$</span>
                    </li>
                    <li class="price-item">
                        <span class="price-name">Teeth bleach (Pearl Smile) <span class="note">(45 min)</span> </span>
                        <span class="cost">200$</span>
                    </li>
                    <li class="price-item">
                        <span class="price-name">Teeth cleaning & bleach <span class="note">(45 min)</span> </span>
                        <span class="cost">250$</span>
                    </li>
                    <li class="price-item">
                        <span class="price-name">Veneers <span class="note">(for one tooth)</span></span>
                        <span class="cost">800$</span>
                    </li>
                </ul>
                <ul class="price-list">
                    <li class="price-item">
                        <span class="price-name">Art restoration</span>
                        <span class="cost">150$</span>
                    </li>
                    <li class="price-item">
                        <span class="price-name">Invisalign</span>
                        <span class="cost">13000$</span>
                    </li>
                    <li class="price-item">
                        <span class="price-name">Lips augmentation <span class="note">( Juvederm 1 ml )</span></span>
                        <span class="cost">300$</span>
                    </li>
                    <li class="price-item">
                        <span class="price-name">Lips augmentation <span class="note">( Juvederm 0,5 ml )</span></span>
                        <span class="cost">200$</span>
                    </li>
                    <li class="price-item">
                        <span class="price-name">Botox <span class="note">(1 area)</span></span>
                        <span class="cost">300$</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="all-width discont">
        <div class="center-block">
            <h2>Order a call back and get a 10% discount</h2>
        </div>
    </div>

    <div id="contact-us" class="center-block contact-us">
        <h2>Our Contact</h2>
        <p class="contact-us-description">We appreciate the time of our Clients, so in order to give you maximum attention, we ask you to inform us about your personal visit in advance using the contact details on this page that are convenient for you</p>
        <div class="contact-container">
            <div class="address">
                <img class="lazy" width="100%" height="auto" data-src="img/slider-photo-1.png" alt="">
            </div>
            <div class="connection">
                <p class="work">We work every day from 09:00 to 21:00</p>

                <p ><span class="label">Address:</span> <a href="https://goo.gl/maps/bAhzcByLSb52">Obolonskiy avenue, 26, Kiev</a></p>
                <p ><span class="label">Tel:</span> <a href="tel:+380442244393">+ 38 044 224 43 93</a></p>
                <p ><span class="label">Tel:</span> <a href="tel:+380661576777">+ 38 066 157 67 77</a></p>
                <p ><span class="label">Mail:</span> <a href="mailto:adentspa@gmail.com">adentspa@gmail.com</a></p>
            </div>
        </div>
    </div>
    
</main>

<script type="text/javascript">
    var ZCallbackWidgetLinkId  = '8e22187dd20e6a019c32a20ab2e98011';
    var ZCallbackWidgetDomain  = 'my.zadarma.com';
    (function(){
        var lt = document.createElement('script');
        lt.type ='text/javascript';
        lt.charset = 'utf-8';
        lt.async = true;
        lt.src = 'https://' + ZCallbackWidgetDomain + '/callbackWidget/js/main.min.js';
        var sc = document.getElementsByTagName('script')[0];
        if (sc) sc.parentNode.insertBefore(lt, sc);
        else document.documentElement.firstChild.appendChild(lt);
    })();
</script>


<%= _.template(require('./../includes/footer.html'))(data) %>