<%= _.template(require('./../includes/header.html'))(data) %>

<main>
    <div id="services" class="services-block">
        <div class="center-block">
            <div class="item">
                <div class="img">
                    <img src="img/svg/001-smile.svg" alt="">
                </div>
                <p>Perfect smile</p>
            </div>
            <div class="item">
                <div class="img">
                    <img src="img/svg/003-happy.svg" alt="">
                </div>
                <p>Without pain</p>
            </div>
            <div class="item">
                <div class="img">
                    <img src="img/svg/002-number-1.svg" alt="">
                </div>
                <p>Number one dental spa in Ukraine</p>
            </div>

        </div>
    </div>
    <div id="our_work" class="center-block patient-slider">
        <h2>Patients are glad that they are our patients</h2>
        <div class="swiper-patient-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="img/slider/31680620_205834756695339_7350436360706064384_n.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/slider/34689833_410328456109223_5765516015991521280_n.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/slider/46538784_325225278203389_2346427176778809145_n.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/slider/47689916_1102961269891004_3328818791549930259_n.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/slider/47693656_2291730454192403_6461030226417399849_n.jpg" alt="">
                </div>
            </div>

            <div class="swiper-pagination"></div>
        </div>
    </div>
    </div>

    <div id="about-us" class="center-block doctor">
        <h2>Who makes your smiles</h2>
        <div class="doctor-container">
            <div class="doctor-body">
                <div class="doctor-item">
                    <img src="img/doc2.png" alt="">
                </div>
                <div class="deckription">
                    <h4 class="name">Evgeniya Andreeva</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione consequuntur quia optio eos tempora culpa?</p>
                </div>
            </div>
            <div class="doctor-body">
                <div class="doctor-item">
                    <img src="img/doc-1.png" alt="">
                </div>
                <div class="deckription">
                    <h4 class="name">Kate Marynenko</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione consequuntur quia optio eos tempora culpa?</p>
                </div>
            </div>
            <div class="doctor-body">
                <div class="doctor-item">
                    <img src="img/doc2.png" alt="">
                </div>
                <div class="deckription">
                    <h4 class="name">Evgeniya Andreeva</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione consequuntur quia optio eos tempora culpa?</p>
                </div>
            </div>
            <div class="doctor-body">
                <div class="doctor-item">
                    <img src="img/doc3.png" alt="">
                </div>
                <div class="deckription">
                    <h4 class="name">Maria Goryeva</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione consequuntur quia optio eos tempora culpa?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="all-width">
            <div id="prices" class="center-block price">
                <h2>Our prices</h2>
                <div class="block-with-price">
                    <ul class="price-list">
                        <li class="price-item">
                            <span class="price-name">Express teeth bleach</span>
                            <span class="cost">199$</span>
                        </li>
                        <li class="price-item">
                            <span class="price-name">Air flow teeth cleaning</span>
                            <span class="cost">299$</span>
                        </li>
                        <li class="price-item">
                            <span class="price-name">Ceramic braces system</span>
                            <span class="cost">949$</span>
                        </li>
                        <li class="price-item">
                            <span class="price-name">Sapphire braces system</span>
                            <span class="cost">1249$</span>
                        </li>
                    </ul>
                    <ul class="price-list">
                        <li class="price-item">
                            <span class="price-name">Veneers <span class="note">(for one tooth)</span></span>
                            <span class="cost">399$</span>
                        </li>
                        <li class="price-item">
                            <span class="price-name">Art restoration</span>
                            <span class="cost">100$</span>
                        </li>
                        <li class="price-item">
                            <span class="price-name">Ceramic braces system</span>
                            <span class="cost">200$</span>
                        </li>
                        <li class="price-item">
                            <span class="price-name">Sapphire braces system</span>
                            <span class="cost">200$</span>
                        </li>
                    </ul>
                </div>
    
            </div>
        </div>
    
</main>



<%= _.template(require('./../includes/footer.html'))(data) %>