@import "~normalize.css";

body{
	font-family: "Open Sans", sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.page-title{
	height: 350px;
	background-size: cover;
	overflow: hidden;
}
.fogging{
	display: none;
}
.fogging-active{
	display: block;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: #c5c5c5a1;
	transition: .1s linear;
	z-index: 5;
}
header{
	background: url(../img/bg-top.jpg);
	.main-info{
		width: 100%;
		position: absolute;
		top: 200px;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #ffffff;
		text-align: center;
		text-transform: uppercase;
		h1{
			font-size: 28px;
			font-weight: 100;
		}
	}
	.center-block{
		nav{
			position: relative;	
			border-bottom: 1px solid #ffffff5e;
			display: flex;
			justify-content: space-between;
			height: 100px;
			padding:  0 10px;
			box-sizing: border-box;
			transition: .2s linear;
			.header-list:nth-child(1){
				list-style: none;
				padding: 0;
				.logo{
					img{
						width: 75px;
					}
				}
			}
			.header-list:nth-child(2){
				list-style: none;
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				align-items: center;
				padding: 15px 0;
				margin: 0;
				position: absolute;
				left: 50%;
				transform: translate(-50%, -100%);
				width: 250px;
				height: 300px;
				transition: .2s linear;
				.header-list-item{
					margin-bottom: 2px;
				}
				.header-list-link{
					text-decoration: none;
					color: #ffffff;
					text-transform: uppercase;
					font-size: 14px;
					padding: 4px 6px;
					margin: 0 4px 0;
					border-bottom: 1px solid #ffffff5e;
					box-sizing: border-box;
					transition: .2s linear;
				}
			}
			.active{
				transform: translate(-50%, 70px) !important;
				background: #f9f9f9eb;
				border-radius: 2px;
				z-index: 10;
				.close-button{
					padding: 0;
					margin: 0;
					width: 25px;
					height: 25px;
					position: absolute;
					border: none;
					background: transparent;
					right: -25px;
					top: -25px;
					cursor: pointer;
					&:before{
						content: '';
						position: absolute;
						width: 100%;
						height: 1px;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%) rotate(45deg);
						background: #fff;
					}
					&:after{
						content: '';
						position: absolute;
						width: 100%;
						height: 1px;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%) rotate(-45deg);
						background: #fff;
					}
				}
				.header-list-item{
					padding: 15px 0;
					.header-list-link{
						color: #4c4c4c !important;
					}
				}
			}
			.hamburger{
				position: absolute;
				padding: 0;
				margin: 0;
				border: none;
				background: transparent;
				right: 10px;
				bottom: 30px;
				width: 25px;
				height: 21px;
				cursor: pointer;
				transition: .2s linear;
				span{
					position: absolute;
					width: 100%;
					left: 0;
					height: 1px;
					background: #fff;
					&:nth-child(1){
						top: 0;
					}
					&:nth-child(2){
						top: 10px;
					}
					&:nth-child(3){
						bottom: 0;
					}
				}
			}
			.hamburger-active{
				transform: translateX(50px) translateY(10px) !important;
			}
		}
	}
}
header .center-block nav.scroled-header .active{
	transform: translate(-50%, 120px) !important;
}
header .center-block nav.scroled-header .hamburger{
	transform: translateY(10px);
}

header .center-block .scroled-header{
    position: fixed;
    z-index: 9999;
    height: 70px;
	background: #5d5d5dab;
	width: 100%;
	.logo{
		img{
			width: 45px !important;
		}
	}
}

.animated-bg {
	-webkit-animation: animate-bg 800s linear infinite;
	-o-animation: animate-bg 800s linear infinite;
	animation: animate-bg 800s linear infinite;
	background-repeat: repeat-x;
}
  
@-webkit-keyframes animate-bg {
	from { 
		background-position: 0 0;
	} 
	to { 
		background-position: -50000px 0;
	}
}
@-moz-keyframes animate-bg {
	from { 
		background-position: 0 0;
	} 
	to { 
		background-position: -50000px 0;
	}
}
	@-o-keyframes animate-bg {
	from { 
		background-position: 0 0;
	} 
	to { 
		background-position: -50000px 0;
	}
}
@keyframes animate-bg {
	from { 
		background-position: 0 0;
	} 
	to { 
		background-position: -50000px 0;
	}
}
.services-block{
	// background: #fbddea;
	overflow: hidden;
	.center-block{
		display: flex;
		flex-direction: column;
		padding: 70px 0;
		.item{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 300px;
			height: 150px;
			background: #ffffff71;
			border-radius: 5px;
			margin: 10px auto;
			padding: 20px;
			box-sizing: border-box;
			background: transparent;
			transform: translatey(-400%);
			box-shadow: 0px 9px 26px -15px;
			&:nth-child(1){
				transition: .8s ease-in-out;
			}
			&:nth-child(2){
				transition: .6s ease-in-out;
			}
			&:nth-child(3){
				transition: .4s ease-in-out;
			}
			.img{
				width: 100px;
				height: 100px;
				img{
					width: 100px;
					height: 100px;
				}
			}
			p{
				font-size: 20px;
				padding: 20px 0;
				margin: 0 auto;
				font-weight: bold;
				color: #4c4c4c;
				text-align:center;
			}
		}
	}
}

.motion .center-block .item{
	background: #ffffff71;
	transform: translatey(0px);
}
.patient-slider{
	overflow: hidden;
}

.patient-slider{
	padding: 50px 0;
	border-top: 1px solid #b0b0b05e;
	h2{
		color: #4c4c4c;
		text-align: center;
		font-size: 25px;
		margin-bottom: 60px;
	}
}
.swiper-patient-slider{
	position: relative;

	img{
		width: 100%;
	}
}

.all-width{
	position: relative;
	background: #434345;
	width: 100%;
	margin: 50px 0 0 0;
	.price{
		padding: 40px 0;
			h2{
				color: #ffffff;
				font-size: 25px;
				text-align: center;
				margin: 40px 0;
			}
	}
}
.block-with-price{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	color: #ffffff;
	margin: 70px 0;
	transform: translateY(200px);
	filter: opacity(0);
	transition: .8s ease-in-out;
	ul, li{
		list-style: none;
	}
	.price-list{
		padding: 0;
		margin: 0;
		width: 90%;
	}
	.price-item{
		padding: 13px 8px;
		font-weight: 100;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #ffffff4f;
		font-size: 18px;
		&:nth-child(2n+1){
			background: #ffffff0a;
		}
		.cost{
			font-weight: 400;
		}
		.note{
			font-size: 10px;
		}
	}
}

.move{
	transform: translateY(0) !important;
	filter: opacity(1) !important;
}

.doctor{
	padding: 50px 0;
	h2{
		color: #434345;
		margin: 0;
		text-align: center;
	}
}
.doctor-container{
	padding: 50px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	transform: translateY(300px);
	filter: opacity(0);
	transition: .6s linear;
	.doctor-body{
		width: 90%;
		display: flex;
		flex-direction: column;
		color: #434345;
		box-shadow: 0px 0px 20px -11px;
		margin: 10px 0;
		padding: 20px;
		box-sizing: border-box;
		.doctor-item{
			width: 200px;
			height: 200px;
			border-radius: 50%;
			overflow: hidden;
			border: 10px solid #fbddea;
			box-sizing: border-box;
			img{
				width: 100%;
				height: 100%;
			}
		}
	}
}

// footer{
// 	background: #4c4c4c;
// 	padding: 200px 0;
// }










@media (min-width:768px) {
  	.center-block{
		width: 768px;
		margin: 0 auto;
	}
	.page-title{
		height: 500px;
	}
	.animated-bg {
		-webkit-animation: animate-bg 900s linear infinite;
		-o-animation: animate-bg 900s linear infinite;
		animation: animate-bg 900s linear infinite;
		background-repeat: repeat-x;
	}
	.hamburger{
		display: none;
	}
	header .main-info{
		top: 250px;;
	}
	header .center-block nav .header-list:nth-child(2){
		width: auto;
		height: auto;
		background: transparent;
		list-style: none;
		flex-direction: row;
		align-items: flex-end;
		padding: 15px 0;
		margin: 0;
		position: relative;
		transform: translate(0,0);
		left: 0;
		button{
			display: none;
		}
		.header-list-item{
			margin-bottom: 2px;
		}
		.header-list-link{
			text-decoration: none;
			color: #ffffff;
			text-transform: uppercase;
			font-size: 14px;
			padding: 4px 10px;
			margin: 0 4px 0;
			border-bottom: 1px solid #ffffff5e;
			box-sizing: border-box;
			transition: .1s linear;
			&:hover{
				background: #ffffff;
				color: #4c4c4c;
				border-bottom: 1px solid #ffffff;
				border-radius: 2px; 
			}
		}
	}
	.services-block{
		.center-block{
			padding: 100px 0;
			flex-direction: row;
			.item{
				width: 240px;
			}
		}
	}
	.services-block .center-block .item:nth-child(1) {
		transition: .4s ease-in-out;
	}
	.services-block .center-block .item:nth-child(2) {
		transition: .6s ease-in-out;
	}
	.services-block .center-block .item:nth-child(3) {
		transition: .8s ease-in-out;
	}
	.block-with-price .price-list{
		width: 45%;
		margin: 15px;
	}
	header .center-block .scroled-header{
		width: inherit;
	}
	.doctor-container .doctor-body{
		flex-direction: row;
		.doctor-item{
			margin-right: 20px;
		}
	}
	.deckription{
		width: 60%;
	}

}

@media (min-width:1024px) {
	.center-block{
		width: 1024px;
	}
	.services-block .center-block .item {
		width: 300px;
	}
	.block-with-price .price-list{
		width: 40%;
		margin: 25px;
	}
	.deckription {
		width: 75%;
	}
}
@media (min-width:1200px) {
	.center-block{
		width: 1200px;
	}
}